<%- include('../partials/_header'); -%>
<%- include('../partials/_navbar'); -%>
<main class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h2 class="title-cart">Shopping cart</h2>
                <div class="cart-content">
                    <div class="item-card">
                        <div class="item-pic">
                            <img src="https://37b3a77d7df28c23c767-53afc51582ca456b5a70c93dcc61a759.ssl.cf3.rackcdn.com/640x480/54850_3971_001.jpg" alt="">
                        </div>
                        <div class="item-title">Lorem ipsum dolor sit.</div>
                        <div class="item-price">$ 150 000</div>
                        <div class="item-action">
                            <i class="fa fa-trash"></i>
                        </div>
                    </div>
                    <div class="item-card">
                        <div class="item-pic">
                            <img src="https://37b3a77d7df28c23c767-53afc51582ca456b5a70c93dcc61a759.ssl.cf3.rackcdn.com/640x480/54850_3971_001.jpg" alt="">
                        </div>
                        <div class="item-title">Lorem ipsum dolor sit.</div>
                        <div class="item-price">$ 150 000</div>
                        <div class="item-action">
                            <i class="fa fa-trash"></i>
                        </div>
                    </div>
                    <div class="item-card">
                        <div class="item-pic">
                            <img src="https://37b3a77d7df28c23c767-53afc51582ca456b5a70c93dcc61a759.ssl.cf3.rackcdn.com/640x480/54850_3971_001.jpg" alt="">
                        </div>
                        <div class="item-title">Lorem ipsum dolor sit.</div>
                        <div class="item-price">$ 150 000</div>
                        <div class="item-action">
                            <i class="fa fa-trash"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="cart-checkout">
                    <div class="box">
                        <div class="row-cart">
                            <span>Bag total</span>
                            <span>$ 20 000</span>
                        </div>
                        <div class="row-cart">
                            <span>Estimated tax</span>
                            <span>$ 200</span>
                        </div>
                        <div class="row-cart">
                            <strong>Order total</strong>
                            <span>$ 20 200</span>
                        </div>
                        <div class="foot">
                            <button class="btn btn-primary">Check out</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('../partials/_footer'); -%>