<%- include('../partials/_header'); -%>
    <main class="auth">
        <div class="auth__form">
            <div class="head">
                <h4>
                    <a href="/">Byarent</a>
                </h4>
                <p>You have a account? <a href="/auth/login">Sign in now</a></p>
            </div>
            <div class="body">
                <form action="/auth/register" method="post">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" placeholder="Full name" name="fullName" class="form-control" required />
                    </div>
                    <div class="divider"></div>
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" placeholder="Email" name="username" class="form-control" required />
                    </div>
                    <div class="divider"></div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" placeholder="Password" name="password" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <button type="submit">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="auth__picture">
            <img src="https://media.tfehotels.com/media/filer_public_thumbnails/filer_public/c2/95/c295a7fb-b7e2-4788-b4c1-5736273399d1/adina-apartment-hotel-auckland-britomart-three-bedroom-premier-apartment-lounge-room-01-2017109-1.jpg__1230x615_q85_crop_subsampling-2_upscale.jpg">
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="./javascripts/menu.js"></script>
</body>
</html>